<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427540754863-cqf8s7974b7gj24clo2gup833cgg0pu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427540754863-cqf8s7974b7gj24clo2gup833cgg0pu9</string>
	<key>API_KEY</key>
	<string>AIzaSyD_ADC0zM_pR6dTKbZ-r3laD1bFnOBHCBA</string>
	<key>GCM_SENDER_ID</key>
	<string>427540754863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.xdevs.doase.doaSeApp</string>
	<key>PROJECT_ID</key>
	<string>doase-f8cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>doase-f8cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427540754863:ios:a261436e45f773a023bf5a</string>
	<key>DATABASE_URL</key>
	<string>https://doase-f8cd1-default-rtdb.firebaseio.com</string>
</dict>
</plist>